* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

#content{
    text-align: center;
}

#canvas{            
    border: 2px dashed rgb(146, 146, 146);
}

#text{
    /*background-color: rgb(154, 24, 24);*/
    font-size: 64px;    
    text-align: center;
    position: relative;
    bottom: 150px;
}

.signLine{
    width: 450px;    
    color: black;            
    margin: auto;
    position: relative;
    top: 140px;
}

.config{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}