* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

#content{
    text-align: center;
}

#canvas{            
    border: 2px dashed rgb(146, 146, 146);    
}

.signLine{
    width: 450px;    
    color: black;            
    margin: auto;
    position: relative;
    top: 140px;
}

.config{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#text{
    /*background-color: rgb(154, 24, 24);*/
    font-size: 64px;    
    text-align: center;
    position: relative;
    bottom: 150px;
}

#signModeCheckbox{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}

#signModeCheckbox:checked{
    background-color: #03a9f4;
}

#signModeCheckbox::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0.2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

#signModeCheckbox:checked::before{
    left: 20px;
}

.signModeText{
    color: blue;
}

#warningMessage{
    background-color: rgb(255, 255, 154);
    width: fit-content;
    position: relative;    
    margin: auto;    
    bottom: 40px;
}

.warningText{
    padding: 15px;
    font-size: 18px;
}