* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 253, 251);
}

#content{
    text-align: center;
}

/*.signatureArea{

}*/

#canvas{        
    border: 2px dashed rgb(146, 146, 146);
}

#text{
    /*background-color: rgb(154, 24, 24);*/
    font-size: 64px;    
    text-align: center;
}

.signLine{
    width: 450px;    
    color: black;            
    margin: auto;
}

/*.config{
    
}*/